@using Utilities
@model IEnumerable<CoreEntities.SchoolMgntModel.Student>


@{
    Layout = "~/Areas/Identity/Views/Shared/_Layouts.cshtml";
}


<div class="card">
    <div class="card-body">
        <div class="m-t-25">
            <p>
                <a class="btn btn-primary"
                   asp-area="@ViewContext.RouteData.Values["area"]"
                   asp-controller="@ViewContext.RouteData.Values["controller"]"
                   asp-action="Create"
                   data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Thêm">
                    <i class="anticon anticon-plus-circle"></i>
                </a>
            </p>

            <table id="data-table" class="table">
                <thead>
                <tr>
                     <th>Lớp</th>
                    <th>Họ và tên</th>
                    <th>Giới tính</th>
                    <th>Ngày sinh</th>
                    <th class="text-center col-2">
                        <i class="anticon anticon-tool"></i>Tools
                    </th>
                </tr>
                </thead>

                <tbody>
                @foreach (var item in Model)
                {
                    <tr class="@(!item.IsActive ? "table-danger" : "")">
                        @{
                            <th>@item.ClassRoom.ClassName</th>
                            <th>
                                <a>@item.FirstName @item.LastName</a>
                            </th>
                            <th>
                                @if (item.Gender)
                                {
                                    <span>Nam</span>
                                }
                                else
                                {
                                    <span>Nữ</span>
                                }
                            </th>
                            <th>@item.BirthDay.ToString(Helper.FormatDateTime.OnlyDate)</th>
                        }

                        @await Html.PartialAsync(Helper.StaticUrl.Button, item, null)
                    </tr>
                }
                </tbody>
            </table>

        </div>
    </div>
</div>

